body{
  font-family: 'Open Sans Condensed', sans-serif;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .first-part {
 background-image: url("../img/backgrounds/h_img.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.centered-text{
  text-align: center;
}
.white-text{
  color: white;
}
.logo{
  margin-top: 8%;
}
.second-part{
  padding-top: 30px;
}
.third-part{
  background-image: url("../img/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
