.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .first-part {
 background-image: url("../img/backgrounds/h_img.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100%;
 width: auto;
}
.centered-text{
  text-align: center;
}
.white-text{
  color: white;
}
